.card {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 16px;
  margin: 32px;

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(7.5px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.37);
}