body {
  margin: 0;

  background-color: #1F1D2B;
  color: rgba(255, 255, 255, 0.6);
  background-image: url(/assets/images/gradient.svg);
  background-repeat: no-repeat;
  background-position: top center;

  font-family: 'Darker Grotesque', cursive;
  font-size: 18px;
}

svg {
  fill:rgba(255, 255, 255, 0.6);
}