.top-bar {
  display: flex;

  height: 48px;
  width: 100%;

  text-transform: uppercase;
  padding: 12px;

  &__area {
    display: flex;
    flex: 1 1 auto;
    display: flex;

    align-items: center;
    justify-content: space-around;

    & > * {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;

      width: 128px;
      height: 128px;

      &:hover {
        background: radial-gradient(
          ellipse at 50% 23%,
          rgb(36 241 255 / 30%) 0%,
          rgba(255, 255, 255, 0) 72%,
          rgba(255, 255, 255, 0) 100%);

        svg {
          fill: #fff;
        }
      }

    }


  }
}