body {
  margin: 0;

  background-color: #1F1D2B;
  color: rgba(255, 255, 255, 0.6);
  background-image: url(/assets/images/gradient.svg);
  background-repeat: no-repeat;
  background-position: top center;

  font-family: 'Darker Grotesque', cursive;
  font-size: 18px;
  animation: background_animation infinite 240s ease-in-out;

  @keyframes background_animation {
    0% {
      backdrop-filter: hue-rotate(0deg);
    }
    50% {
      backdrop-filter: hue-rotate(360deg);
    }

    100% {
      backdrop-filter: hue-rotate(0deg);
    }
  }
}



svg {
  fill:rgba(255, 255, 255, 0.6);
}