.career {

  .card {
    position: relative;

    .my-way {
      opacity: 1;
      transition: opacity .3s ease-in-out;

      &:not(&--visible) {
        opacity: 0;
        pointer-events: none;
      }

      .career-path {
        $pathLength: 3543.5290527344;
        $stationCount: 10;

        svg {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          z-index: 100;
          max-width: 80%;
          height: calc(100%);
          filter: blur(5px);

          path {
            fill-opacity: 0;
            stroke-width: 3px;
            stroke: var(--visual-foreground);
            stroke-opacity: .5;
            stroke-dasharray: $pathLength;
            stroke-dashoffset: $pathLength;
          }
        }

        &__foreground {
          $step: calc($pathLength / ($stationCount - 1));

          @for $i from 1 through $stationCount {
            &:has(+ .stations .career__station:nth-child(#{$i}):hover),
            &:has(+ .stations.stations--force-active-#{$i}) {
              svg {
                path {
                  stroke-dashoffset: #{$pathLength - $i * $step};
                }
              }
            }
          }

          svg {
            z-index: 200;

            path {
              stroke-opacity: 1;
              transition: stroke-dashoffset .3s ease-in-out;
            }
          }
        }

        &__background {
          svg {
            path {
              animation: presentation__drawcareerPath 2.2s linear forwards;
              animation-iteration-count: 1;
            }

            @keyframes presentation__drawcareerPath {
              100% {
                stroke-dashoffset: 0;
              }
            }
          }
        }
      }

      .stations {
        position: relative;
        z-index: 500;
        width: 100%;
        color: var(--light-text);
        text-shadow: 0px 0px 20px var(--text-shadow);

        .career__station {
          cursor: pointer;

          padding-top: 16px;
          padding-bottom: 16px;

          border-top: 1px transparent solid;
          border-bottom: 1px transparent solid;
          background-color: transparent;

          transition:
            padding .3s ease-in-out,
            backdrop-filter .3s ease-in-out,
            border-bottom-color .3s ease-in-out,
            border-top-color .3s ease-in-out,
            background-color .3s ease-in-out,
            scale .3s ease-in-out;

          &:hover {
            padding: 16px;
            background-color: rgba(var(--station-hover-color), 0.05);
            border-bottom-color: rgba(var(--station-hover-color), 0.1);
          }

          &:not(:first-child) {
            padding-top: 16px;
            border-top-color: rgba(255, 255, 255, 0.1);
          }

          &__title {
            text-transform: uppercase;
            font-size: 20px;
          }

          &__date, &__sub-title {
            font-size: 14px;
            color: var(--lighter-text);
          }

          &__date {
            margin-bottom: -6px;
          }

          &__sub-title {
            margin-top: -6px;
          }

          &__time-span {
            font-weight: 400;
            font-size: 16px;
            color: var(--lighter-text);
          }
        }
      }
    }

    .station-details {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      pointer-events: none;

      transition: opacity .3s ease-in-out;

      padding: 16px;

      &--visible {
        opacity: 1;
        pointer-events: all;
      }

      &__metadata {
        h1, h2 {
          font-weight: normal;
          margin: 0;
          padding: 0;
        }

        border-bottom: 1px rgba(204, 204, 204, 0.1) solid;
        padding-bottom: 16px;
        margin-bottom: 16px;

        &__info {
          flex: 1 1 auto;
        }

        &__logo {
          max-width: 25%;
          padding: 16px;
          box-sizing: border-box;

          img { width: 100% }
        }
      }

      .back-bar {
        font-size: 26px;
        cursor: pointer;
        border-radius: 5px;
        padding: 8px 16px;
        margin-bottom: 16px;

        &:hover {
          background-color: rgba(204, 204, 204, 0.1);
        }
      }
    }
  }
}