@import "../../variables";

.head {
  position: sticky;
  z-index: 10000;
  top: 56px;

  .nav-links {
    top: 0;
  }

  .theme {
    top: 300px;
  }

  .side.card  {
    position: absolute;
    width: 38px;
    margin: 0;
    padding: 0;
    border-top-left-radius: 0;
    border-left: none;
    background: var(--background-card);
    border-bottom-left-radius: 0;
    z-index: 10000;
    display: flex;

    flex-flow: column;
    justify-content: center;
    font-size: 18px;
    transition:
      background-color var(--theme-switch-duration) ease-in-out;

    > a, > span, > i {
      text-decoration: none;
      padding: 12px;
      transition: color .3s ease-in-out;
      text-align: center;

      &:not(:hover) {
        color: rgba(var(--foreground), var(--foreground-op));
      }

      &:hover {
        text-decoration: none;
      }

    }
  }
}

.content {
  padding: 56px;
  @media screen and (max-width: $column-breakpoint) {
    padding: 56px 24px 56px 56px;
  }
  .row-wrapper {
    display: flex;
    gap: 32px;

    @media screen and (max-width: $column-breakpoint) {
      flex-flow: column;
    }
  }

  .title-box {
    h2 { font-weight: 300; }
  }

  .me {
    @media screen and (max-width: $column-breakpoint) {
      width: 64px;
      height: 64px;
    }

    background-image: url(../../assets/images/me.png);
    background-size: 101%;
    width: 128px;
    height: 128px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 5px;
    margin-right: 24px;
  }

  .left {
    max-width: 500px;
    display: flex;
    flex-flow: column;
    gap: 32px;

    @media screen and (max-width: $column-breakpoint) {
      width: 100%;
      max-width: 100%;

      h1 {
        font-size: 24px;
      }
      h2 {
        font-size: 24px;
      }
    }
  }

  .right {
    flex: 1;
    display: flex;
    flex-flow: column;
    gap: 32px;

    .title {
      text-shadow: var(--text-shadow);
      text-transform: uppercase;
      text-align: center;
      font-size: 32px;
      font-weight: 100;
      margin-top: 48px;
    }

    .projects {
      display: flex;
      gap: 16px;
      flex-wrap: wrap;

      @media screen and (max-width: $column-breakpoint) {
        flex-flow: column;
      }

      & > * {
        width: calc(33% - 48px);

        @media screen and (max-width: $column-breakpoint) {
          width: calc(100% - 48px);
        }
      }
    }

    .gwen {
      .screenshots {
        display: flex;
        gap: 16px;
        max-width: 100%;
        padding: 32px 0;
        justify-content: center;

        img {
          max-width: calc(33% - 32px);
          border: 1px solid rgba(255, 255, 255, 0.18);
          border-radius: 5px;
          display: block;
        }
      }
    }
  }
}
