.content {
  padding: 24px;

  .me {
    background-image: url(/assets/images/me.png);
    background-size: 101%;
    width: 128px;
    height: 128px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 5px;
    margin-right: 24px;
  }

  .left {
    max-width: 500px;
  }

  .right {
    flex: 1;

    .title {
      text-transform: uppercase;
      text-align: center;
      font-size: 32px;
      font-weight: 100;
      margin-top: 48px;
    }

    .my-way {
      .stations {
        flex: 1;
      }

      svg {
        height: 630px;
        margin-top: -16px;
        margin-right: -16px;

        path {
          fill: rgb(216, 216, 216);
          fill-opacity: 0;
          stroke-width: 3px;
          stroke: rgb(204, 204, 204);

          stroke-dasharray: 3543.5290527344;
          stroke-dashoffset: 3543.5290527344;
          animation: presentation__drawcareerPath 2.2s linear forwards;
          animation-iteration-count: 1;
        }

        @keyframes presentation__drawcareerPath {
          100% {
            stroke-dashoffset: 0;
          }
        }
      }
    }
  }
}
